<!DOCTYPE html>

{% if site.lang %}
<html lang="{{ site.lang }}">
{% endif %}

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title %}
<title>{{ page.title }}</title>
{% else if site.name %}
<title>{{ site.name }}</title>
{% endif %}

<!-- generate for your own icon using https://realfavicongenerator.net/ -->
{% if site.compression.favicon %}
<link rel="icon" type="image/svg+xml" href="{{ site.url }}/favicon.svg">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.icon-64x64 | prepend: site.url }}">
<link rel="manifest" href="{{ site.manifest | prepend: site.url }}">
<link rel="mask-icon" href="{{ site.mask-icon.href | prepend: site.url }}" color="{{ site.mask-icon.color }}">
<meta name="msapplication-TileColor" content="{{ site.msapplication-TileColor }}">
<meta name="theme-color" content="{{ site.theme-color }}">
{% else %}
<link rel="icon" href="data:,">
{% endif %}

<!-- include seo if enabled -->
{% if site.compression.seo %}
{% include seo.html %}
{% endif %}

<script>(function(){var t=localStorage.getItem('theme');if(t==='dark'||(t===null&&window.matchMedia('(prefers-color-scheme:dark)').matches)){document.documentElement.setAttribute('data-theme','dark')}})();</script>
</head>
